.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &-navigation {
    color: black;
    width: max-content;
    padding-top: 5rem;
    margin-right: 3rem;
  }
  &-list {
    list-style: none;
    &-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      color: black;
    }
  }

  &-link {
    transition: all 0.3s;
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      transform: skewY(5deg) scale(1.2);
    }
  }

  &-logo {
    width: 15rem;
    height: auto;
    &-box {
      text-align: center;
      margin-left: 4rem;
    }
  }

  &-copyright {
    text-align: center;
    padding-top: 2.5rem;
  }
}
